<% include ../partials/header %>

<h1><%=house.name%></h1>

<img src="<%= house.image %>">

<p><%=house.description%></p>

<p>
    <a class="btn btn-success" href="/housing/<%= house._id %>/comments/new">Add New Comment</a>
</p>

<% house.comments.forEach(function(Comment){ %>
    <p>
        <strong><%= Comment.author %></strong>- <%= Comment.text %>
    </p>
<% }); %>
<% include ../partials/footer %> 