<% include ../partials/header %>

    <div class="row">
        <div class="col-md-3">
            <p class="lead">ProjectYC</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="caption-full">
                    <h4><a><%=question.name%></a></h4>
                    <p><%=question.description%></p>
                    <% question.tag.forEach(function(tag){ %>
                        <p class="btn btn-secondary"><%=tag%></p>
                    <% }) %>
                    <p><em>Submitted by <%=question.author.username%></em></p>
                    <p id="question-text-area"><%=question.text%></p>
                    <% if(currentUser && question.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                    <a class="btn btn-warning" href="/question/<%=question._id%>/edit">Edit</a>
                    <form class="delete-form" action="/question/<%=question._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                    <% } %>
                </div>
            </div>
            <div class="alert alert-secondary">
                <div class="text-right">
                    <a class="btn btn-success" href="/question/<%= question._id %>/comments/new">Add New Comment</a>
                </div>
                <hr>
                <% question.comments.forEach(function(Comment){ %>
                <div class="row">
                    <div class="col-md-12">
                            <strong><%= Comment.author.username %></strong>
                            <span class="float-right">10 days ago</span>
                        <p>
                            <%= Comment.text %>
                        </p>
                    <% if(currentUser && Comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                        <a class="btn btn-xs btn-warning" 
                            href="/housing/<%=question._id%>/comments/<%=Comment._id%>/edit">
                            Edit
                        </a>
                        <form class="delete-form" action="/housing/<%=question._id%>/comments/<%=Comment._id%>?_method=DELETE" method="POST">
                            <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                        </form>
                    <% } %>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </div>

<% include ../partials/footer %> 