<% include ../partials/header %>

    <div class="row">
        <div class="col-md-3">
            <p class="lead">ProjectYC</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="caption-full">
                    <h4><a><%=question.name%></a></h4>
                    <p><%=question.description%></p>
                    <% question.tag.forEach(function(tag){ %>
                        <p class="btn btn-secondary"><%=tag%></p>
                    <% }) %>
                    <p><em>Submitted by <%=question.author.username%></em></p>
                    <p id="question-text-area"><%=question.text%></p>
                    <% if(currentUser && question.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                    <a class="btn btn-warning" href="/question/<%=question._id%>/edit">Edit</a>
                    <form class="delete-form" action="/question/<%=question._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                    <% } %>
                </div>
            </div>
            <div class="alert alert-secondary">
                <div class="text-right">
                    <a class="btn btn-success" href="/question/<%= question._id %>/answer/new">Add New Comment</a>
                </div>
                <hr>
                <% question.answers.forEach(function(Answer){ %>
                <div class="row">
                    <div class="col-md-12">
                            <strong><%= Answer.author.username %></strong>
                            <span class="float-right">10 days ago</span>
                        <p>
                            <%= Answer.text %>
                        </p>
                        
                        
                        <!--Here we have an example of the tag get request which search for questions with a specific tag-->
                            <form action="/question" method="GET" class="form-inline">
                                <% Answer.forEach(function(tag){ %>
                                    <input type="submit" value="<%=tag.tag%>" name="tag" class="tag btn btn-outline-info btn-sm">
                                <% }) %>
                            </form>
                            
                            <!--Here we have an example of a post request for a new answer-->
                            <form action="/question/<%= question._id %>/answer" method="POST">
                                <div class="form-group">
                                    <textarea class="form-control" type="text" name="answer[text]" placeholder="text" rows="10"><%=answer.text%></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block">Submit</button>
                                </div>
                            </form>
                            
                            
                            <!--Whatever we do, we will need to handle this post request through the answer route, I believe-->
                            
                            <!--We should be able to do it via the answer route as it's essentially the same set up as creating an answer, you submit the post request, then head back to the show page-->
                            
                            <!--We then need to populate the answers through the question show route and page-->
                            
                            
                    <% if(currentUser && Answer.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                        <a class="btn btn-xs btn-warning" 
                            href="/question/<%=question._id%>/answer/<%=Answer._id%>/edit">
                            Edit
                        </a>
                        <form class="delete-form" action="/question/<%=question._id%>/answer/<%=Answer._id%>?_method=DELETE" method="POST">
                            <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                        </form>
                    <% } %>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </div>

<% include ../partials/footer %> 